<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <h3 th:text="${article.title}"></h3>
            <p th:text="${article.content}"></p>
            <p>
                Edited at
                <span th:text="${#temporals.format(article.editedAt, 'dd-MM-yyyy HH:mm')}"></span>
                by
                <a th:href="@{|/profile/${article.user.username}|}">
                    <span th:text="${article.user.username}"></span>
                </a>
                <div th:if="${#authentication.name.equals(article.user.username)}">
                    <a th:href="@{|/articles/${article.id}/edit|}">Edit</a>
                </div>
            </p>
        </main>
    </div>
</body>
</html>