<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <h1>Articles</h1>
            <form th:action="@{/home}" th:object="${criteria}" method="get">
                <label>
                    Title
                    <input name="title" type="text" th:value="${criteria.title}">
                </label>
                <label>
                    Publisher
                    <input name="username" type="text" th:value="${criteria.username}">
                </label>
                <input type="submit" value="Filter">
            </form>
            <h3 th:if="${articles.size() == 0}">Seems like there is no articles :(</h3>
            <div th:each="article : ${articles}">
                <h3 th:text="${article.title}"></h3>
                <p th:text="${article.content}"></p>
                <a th:href="@{|/articles/${article.id}|}">Read</a>
                <p>
                    Posted
                    <span th:text="${#temporals.format(article.createdAt, 'dd-MM-yyyy')}"></span>
                    by
                    <a th:href="@{|/profile/${article.user.username}|}">
                        <span th:text="${article.user.username}"></span>
                    </a>
                </p>
                <hr>
            </div>
        </main>
    </div>
</body>
</html>