<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <form th:action="@{/login}" method="post">
                <label>
                    Username
                    <input type="text" name="username"
                           autofocus required>
                </label>
                <label>
                    Password
                    <input type="password" name="password"
                           required
                           title="The password should have at least one upper case, one lower case, one special char
                               and length should be 10 characters long"
                           pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-]).{10,128}$">
                </label>
                <input type="submit" value="Sign In">
            </form>
            <div>
                <p>New here? <a th:href="@{/registration}">Sign Up!</a></p>
            </div>
        </main>
    </div>
</body>
</html>