<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div th:if="${message != null}">
            <p th:text="${message}"></p>
        </div>
        <form th:action="@{/password/reset}" method="post">
            <label>
                Enter your email to confirm your identity and get a temporary password.
                <input type="email" name="email">
            </label>
            <input type="submit" value="Confirm">
        </form>
    </main>
</div>
</body>
</html>