<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <h3 th:text="${user.username}"></h3>

            <!--            image-->
            <div th:if="${user.photo != null}">
                <img th:src="*{'data:image/jpg;base64,' + user.getEncodedPhoto()}"
                     th:height="200px"
                     th:width="200px"
                     alt="...">
            </div>
            <div th:unless="${user.photo != null}">
                <img th:src="@{/images/anonymous.jpg}"
                     th:height="200px"
                     th:width="200px"
                     alt="...">
            </div>

            <!--            roles-->
            <div sec:authorize="hasAuthority('admin')">
                <form th:action="@{/users/roles/update}" th:object="${role_dto}" method="post">
                    <h5>Roles</h5>
                    <input type="hidden" name="id" th:value="${user.id}">
                    <div th:each="role : ${roles}">
                        <div th:if="${#lists.contains(user.roles, role)}">
                            <label>
                                <span th:text="${role.name}"></span>
                                <input type="checkbox" name="roles" th:value="${role.name}" checked>
                            </label>
                        </div>
                        <div th:unless="${#lists.contains(user.roles, role)}">
                            <label>
                                <span th:text="${role.name}"></span>
                                <input type="checkbox" name="roles" th:value="${role.name}">
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="Update">
                </form>
            </div>

            <!--            articles-->
            <p>Articles</p>
            <p>5 last articles</p>
        </main>
    </div>
</body>
</html>